p {
    font-size: 1rem;
    
    text-indent: 1em;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    background: hsl(205, 100%, 87%);
}
.first,.second,.third,.fourth {
    width: 30%;
    height: 40%;
    background-color: #ffffff00;
    border-left: 4px solid hsl(205, 96%, 37%);
}

.second {
    margin-top: 8rem;
    
}
.third {
    margin-top: 10rem;
}
.fourth {
    margin-top: -5rem;
    margin-bottom: 2rem;
}
.fourth p {
    color: rgb(19, 19, 19);
}
.container img {
    width: 85%;
    height: 20rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
 h2 {
    text-align: center;
}
.suggestion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.suggestion h3 {
    font-size: 2rem;
}
.to-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}
.to-link a {
    font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
    p {
        font-size: 12px;
        margin-right: 6px;
        line-height: 2rem;
    }
    .first,.second,.third,.fourth {
        width: 100%;
    }
    .second,.third {
        margin-top: 4px;
    }
    .fourth {
        margin-top: 1rem;
    }
}